.top_container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}
.middle_container{
}
.bottom_container{
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px;

}
body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #66BFBF;
  line-height: 1.5
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
.pro{
  text-decoration: underline;
}
.programmer_para{
  color: #66BFBF
}

.top_cloud{
  position: absolute;
  right: 420px;
  top:75px;

}
.bottom_cloud{
  position: absolute;
  left: 420px
}
.profile{
  padding-top: 100px;
}
.profile_photo{
  width: 220px;
  height: 220px;

}
.web_image{
  width: 200px;
  height: 200px;

  float: left;
  padding-right: 30px;
}
.spicy_noodles{
  height: 200px;
  width:200px;
  float: right;
  padding-left: 30px;
}
a{
  color: #11999E;
  padding: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6
}

.skill_row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2
}
.intro_para{
  width: 40%;
  margin: 0 auto;
  color: #40514E;
}
hr{
  border-style: dotted none none;
  height: 1px;
  width: 10%;
  border-color:#EAF6F6 ;
  border-width: 10px;
  margin: 100px auto;

}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.contact_me_para{
  margin: 50px auto 120px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
